.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan */
    gap: 20px;
  }
  
  .dropdown-container,
  .date-input-container {
    flex: 1 1 calc(50% - 20px);
  }
  
  .input-with-icon {
    display: flex;
    align-items: center;
    border: 2px solid #ccc; 
    border-radius: 30px;
    cursor: pointer;
    transition: border-color 0.3s;
    background-color: white;
    position: relative;
  }
  
  .input-with-icon:hover,
  .input-with-icon:focus-within {
    border-color: #66afe9;
  }
  
  .input-with-icon img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
  
  .input-with-icon input {
    border: none;
    outline: none;
    flex-grow: 1;
    background: none;
    cursor: pointer;
    margin-left: 20px;
  }
  
  .dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 1;
    width: 29%; /* Ajusta el ancho del dropdown al ancho del contenedor */
    max-height: 50%;
    width: 100%;
    overflow-y: auto;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    opacity: 0;
  }
  
  .dropdown.show {
    display: block;
    max-height: 200px;
    opacity: 1;
  }
  
  .dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .dropdown-item:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown-item img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
  /*Input date container*/
  .date-input-container input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 2px solid #ccc;
    border-radius: 30px;
    outline: none;
    transition: 0.3s;
  }
  
  .date-input-container input:focus {
    border-color: #66afe9;
  }
  
  .date-input-container i {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ccc;
    transition: 0.3s;
  }
  
  .date-input-container input:focus + i {
    color: #66afe9;
  }
  