<div *ngIf="!(accountTypeList.length > 0)" class="d-flex justify-content-center align-items-center border border-dashed"
    style="height: 100vh;">
    <div>
        <h1 class="text-center">Aún no hay plataformas activas para la venta</h1>
        <span class="d-flex justify-content-center">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalNewAccount">Nueva
                cuenta</button>
        </span>
    </div>
</div>
<div *ngIf="accountTypeList.length > 0">
    <div *ngIf="!accountSelected" class="row">
        <div *ngFor="let account of accountTypeList" class="col-6 col-md-3 mb-4">
            <div (click)="uploadAccountType(account)">
                <app-card-info [object]="account" [totalAccounts]="accountTypeList.length"></app-card-info>
            </div>
        </div>
    </div>
    <div *ngIf="accountSelected">
        <div class="d-flex justify-content-between">
            <div class="col" style="max-height: 100px;">
                <span class="d-flex justify-content-center p-2">
                    
                </span>
            </div>

            
        </div>
        <div>
            <app-account-list [accountType]="this.accountType"></app-account-list>
        </div>
    </div>
</div>

