<div class="card p-4">
  <form [formGroup]="newComboSaleForm">
    <div class="row">
      <div class="col-md-5 p-2">
        <!--<div class="" (click)="toggleDropdownClients()">
          <input
            nbInput
            type="text"
            fullWidth
            placeholder="Seleccione combo"
            [nbAutocomplete]="comboControl"
            (input)="filterCombo($event)"
            [value]="selectedCombo.comboName"
          />

          <nb-autocomplete
            #comboControl
            (selectedChange)="selectCombo($event)"
          >
            <nb-option (click)="openDialogNewCombo()">Nuevo combo</nb-option>
            <nb-option *ngFor="let combo of combos" [value]="combo">
              {{ combo.comboName }}
            </nb-option>
          </nb-autocomplete>
        </div>-->
      </div>

      <!--<div
        class="col-md-2 p-1 d-flex align-items-center justify-content-center"
      >
        <span
          >Disponibles
          {{
            selectedCombo?.accountTypeRecord?.accountTypeAvailableProfiles || 0
          }}</span
        >
      </div>-->
    </div>

    <div class="row">
      <div class="col-md-4">
        <input
          nbInput
          placeholder="Fecha de venta"
          [nbDatepicker]="dateSalePurchase"
          fullWidth
          formControlName="profileSalePurchaseDate"
        />
        <nb-datepicker #dateSalePurchase></nb-datepicker>
      </div>

      <div class="col-12 col-md-4">
        <input
          nbInput
          placeholder="Fecha de venta"
          [nbDatepicker]="dateSaleDueDate"
          class="w-100"
          formControlName="profileSaleDueDate"
        />
        <nb-datepicker #dateSaleDueDate></nb-datepicker>
      </div>

      <div class="col-sm-6 col-md-4 d-flex align-items-center">
        <div class="" (click)="toggleDropdownClients()">
          <input
            nbInput
            type="text"
            fullWidth
            placeholder="Seleccione cliente"
            [nbAutocomplete]="customersControl"
            (input)="filterClient($event)"
            [value]="selectedClient?.clientName"
          />

          <nb-autocomplete
            #customersControl
            (selectedChange)="selectClient($event)"
          >
            <nb-option (click)="openDialogNewClient()">Nuevo cliente</nb-option
            >
            <nb-option *ngFor="let client of filteredClients" [value]="client">
              {{ client.clientName }}
            </nb-option>
          </nb-autocomplete>
        </div>
      </div>
    </div>
    <br />

    <div class="row">
      <div class="col-md-4 p-2">
        <div>
          <input
            nbInput
            type="text"
            fullWidth
            placeholder="Seleccione combo"
            [nbAutocomplete]="comboControl"
            (input)="filterCombo($event)"
            [value]="selectedCombo ? selectedCombo.comboName : ''"
          />

          <nb-autocomplete
            #comboControl
            (selectedChange)="selectCombo($event)"
          >
            <nb-option (click)="openDialogNewCombo()">Nuevo combo</nb-option>
            <nb-option *ngFor="let combo of combos" [value]="combo">
              {{ combo.comboName }}
            </nb-option>
          </nb-autocomplete>
        </div>
      </div>

      <div class="col-md-3 p-2">
        <input
          type="text"
          nbInput
          fullWidth
          placeholder="Ingrese nombre"
          formControlName="profileSaleName"
        />
      </div>

      <div class="col-md-3 p-2">
        <input
          type="text"
          nbInput
          fullWidth
          placeholder="Ingrese pin"
          formControlName="profileSalePin"
        />
      </div>

      <div class="col-md-2">
        <div class="d-flex justify-content-center p-2">
          <button
            nbButton
            status="danger"
            class="rounded-pill"
            (click)="this.modalConfirmation = true"
            [disabled]="
              this.newComboSaleForm.invalid || this.comboAccountsType.length < 2"
          >
            Vender
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="container">
  <div class="row">
    <div
      class="col-6 col-sm-6 col-md-3"
      *ngFor="let accountType of availableAccountsType"
    >
      <div
        class="miniCard my-3 position-relative"
        [ngClass]="{ 'active-card': accountType.isSelected }"
        (click)="toggleCard(accountType)"
      >
        <div class="image-container position-relative">
          <img
            [src]="accountType.accountTypeIcon"
            class="card-img-top"
            alt="Card image"
          />
        </div>
        <br />
        <div class="card-body">
          <div class="d-flex justify-content-center">
            <p>{{ accountType.accountTypeName }}</p>
          </div>
          <div class="d-flex justify-content-center">
            <p>Disponibles: {{ accountType.accountTypeAvailableProfiles }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal confirmation-->
<div *ngIf="modalConfirmation">
  <app-dialog-confirmation
    (onConfirmCallback)="createNewComboSale()"
    (onCancelCallback)="this.modalConfirmation = false"
  ></app-dialog-confirmation>
</div>
