<div class="card mx-2">
  <div class="header d-flex justify-content-end pe-4">
    <button nbButton ghost status="danger" [nbPopover]="templateRef"><nb-icon icon="plus-circle-outline"></nb-icon></button>
    <ng-template #templateRef>
      <div class="p-2 px-4 item" *ngFor="let item of items" (click)="addNewVar(item)">{{ item.title }}</div>
    </ng-template>
  </div>
  <div class="body row">
    <div class="body-header px-4">
      <div class="chat-bubble p-2 px-3 overflow-auto">
        {{ message }}
      </div>
      <div class="pb-2 row">
        <div class="col-10">
          <input
          type="text"
          nbInput
          fullWidth
          shape="rectangle"
          placeholder="Escribe aca tu mensaje"
          (keydown)="actualizarMensaje($event)"
          [value]="''"
        />
        </div>
        <div class="col-1 d-flex justify-content-center">
          <button nbButton ghost status="danger" nbTooltip="¡Enviar!" (click)="sendMessages()"><nb-icon icon="navigation-2-outline"></nb-icon></button>
        </div>
      </div>
    </div>
    <div class="body-body"></div>
    <div class="body-footer"></div>
  </div>
  <div class="footer"></div>
</div>
