<div class="card p-4">
  <form [formGroup]="newAccountSaleForm">
    <div class="row">
      <div class="col-md-6 mb-2">
        <div class="p-2">
          <input
          nbInput
          type="text"
          fullWidth
          placeholder="Elige plataforma"
          [nbAutocomplete]="autoControl"
          [value]="selectedAccountType?.accountTypeRecord?.accountTypeName"
          (input)="filterAccountType($event)"
        />

        <nb-autocomplete #autoControl (selectedChange)="selectAccountType($event)">
          <nb-option *ngFor="let accountType of filteredAccounts" [value]="accountType">
            <div class="row w-100">
              <span class="col-10">{{
                accountType?.accountTypeRecord?.accountTypeName
              }}</span>
              <span class="col-2">
                <img
                  [src]="accountType?.accountTypeRecord?.accountTypeIcon"
                  alt="logo plataforma"
                  class="rounded-circle"
                  style="width: 30px; height: 30px"
                />
              </span>
            </div>
          </nb-option>
        </nb-autocomplete>
        </div>
      </div>
  
      <div class="col-md-6 mb-3">
        <div class="p-2" (click)="toggleDropdownClients()">
          <input
            nbInput
            type="text"
            fullWidth
            placeholder="Seleccione cliente"
            [nbAutocomplete]="customersControl"
            (input)="filterClient($event)"
            [value]="selectedClient?.clientName"
          />

          <nb-autocomplete #customersControl (selectedChange)="selectClient($event)">
            <nb-option data-bs-toggle="modal" data-bs-target="#modalNewClient"
              >Nuevo cliente</nb-option
            >
            <nb-option *ngFor="let client of filteredClients" [value]="client">
              {{ client.clientName }}
            </nb-option>
          </nb-autocomplete>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6 date-input-container">
        <label for="saleDate" class="form-label">Fecha de venta</label>
        <input type="date" class="form-control" formControlName="saleDate">
      </div>
  
      <div class="col-md-6 date-input-container">
        <label for="dueDate" class="form-label">Fecha de vencimiento</label>
        <input type="date" class="form-control" formControlName="dueDate">
      </div>
    </div>
  </form>
</div>

<br>
<div *ngIf="selectedAccountType != null && selectedAccountType != undefined" class="card">
  <app-account-sale-list #accountSaleList [accountType]="this.selectedAccountType" (selectedAccountsUpdated)="newAccountSale($event)"></app-account-sale-list>
</div>