@import "../../../styles.css";

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #ff4081;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
}

.floating-button:hover {
    background-color: #e91e63;
    transform: scale(1.1);
}

.content {
    position: fixed;
    bottom: 0;
    right: 0;
    min-height: 90vh;
    max-width: 60vh;
}