<div class="lg-d-flex pb-1">
    <div>
        <h2>
            Administración de cuentas
        </h2>
    </div>
    <div class="col">
        <span class="d-flex lg-justify-content-end align-items-center w-100 h-100">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalNewAccount">Nueva
                cuenta</button>
        </span>
    </div>
</div>

<div class="mt-5 pt-5" *ngIf="accountsPage.length == 0">
    <h2>NO HAY CUENTAS REGISTRADAS EN LA BASE DE DATOS</h2>
</div>

<div class="card" *ngIf="accountsPage.length > 0">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <input #autoInput nbInput type="text" (input)="onChange()" placeholder="Enter value"
                [nbAutocomplete]="auto" />
            <nb-autocomplete #auto (selectedChange)="onSelectionChange($event)">

                <nb-option *ngFor="let option of filteredAccounts$ | async" [value]="option.accountEmail">
                    {{ option.accountEmail }}
                </nb-option>

            </nb-autocomplete>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                data-bs-display="static" aria-expanded="false">
                Filtrar por:
            </button>
            <ul class="dropdown-menu dropdown-menu-lg-end">
                <li><button class="dropdown-item" type="button">Propias</button></li>
                <li><button class="dropdown-item" type="button">Vendidas</button></li>
                <li><button class="dropdown-item" type="button">Funcionales</button></li>
            </ul>
        </div>
    </div>
    <div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <td scope="col">Correo</td>
                    <td scope="col">Cliente</td>
                    <td scope="col">Perfiles disp</td>
                    <td scope="col">¿Funcionando?</td>
                    <td scope="col">Estado de venta</td>
                    <td scope="col">¿Propia?</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let account of accountsPage">
                    <th>{{ account.accountEmail }}</th>
                    <td>Yeison</td>
                    <td>{{ account.accountAvailableProfiles }}</td>
                    <td >
                        <div class="custom-td form-check form-switch sm-d-flex sm-align-items-center">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                                [checked]="account.accountStatusAcount" (change)="toggleAccountStatus(account)">
                            <label class="form-check-label" for="flexSwitchCheckDefault">{{ account.accountStatusAcount |
                                yesNoPipeline }}</label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-td form-check form-switch" style="border-style: dashed; display: flex;">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                                [checked]="account.accountStatusSale" (change)="toggleAccountStatusSale(account)">
                            <label class="form-check-label" for="flexSwitchCheckDefault">{{ account.accountStatusSale |
                                yesNoPipeline }}</label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-td form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                                [checked]="account.accountProperty" (change)="toggleAccountProperty(account)">
                            <label class="form-check-label" for="flexSwitchCheckDefault">{{ account.accountProperty |
                                yesNoPipeline }}</label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" (click)="getNewPage('prev')" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Anterior</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" (click)="getNewPage('next')" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Siguiente</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>


<!--Modal-->
<div class="modal fade" id="modalNewAccount" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Nueva cuenta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="this.accountForm.reset()"></button>
            </div>
            <div>
                <span class="d-flex justify-content-center p-2">
                    <img src="{{ this.accountForm.get('accountTypeRecord')?.value.accountTypeIcon }}" alt=""
                        style="max-width: 100%; max-height: 100px;">
                </span>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form [formGroup]="accountForm">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="accountEmail" formControlName="accountEmail"
                                placeholder=" ">
                            <label for="accountEmail" class="form-label-placeholder">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="accountPassword"
                                formControlName="accountPassword" placeholder=" ">
                            <label for="accountPassword" class="form-label-placeholder">Contraseña</label>
                        </div>

                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="accountStatusAcount"
                                formControlName="accountStatusAcount">
                            <label class="form-check-label" for="accountStatusAcount">¿Cuenta funcional?</label>
                        </div>

                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="accountStatusSale"
                                formControlName="accountStatusSale">
                            <label class="form-check-label" for="accountStatusSale">¿Vendida?</label>
                        </div>

                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="accountProperty"
                                formControlName="accountProperty">
                            <label class="form-check-label" for="accountProperty">¿Es propia?</label>
                        </div>

                        <div class="mb-3">
                            <label for="accountDueDate" class="form-label">Fecha de compra</label>
                            <input type="date" class="form-control" formControlName="accountPurchaseDate">
                        </div>

                        <div class="mb-3">
                            <label for="accountPurchaseDate" class="form-label">Fecha de vencimiento</label>
                            <input type="date" class="form-control" formControlName="accountDueDate">
                        </div>

                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="accountAvailableProfiles"
                                formControlName="accountAvailableProfiles" placeholder=" ">
                            <label for="accountAvailableProfiles" class="form-label-placeholder">Cantidad de
                                perfiles disponibles</label>
                            <div *ngIf="accountForm.get('accountAvailableProfiles')?.hasError('pattern')">
                                <small class="text-danger">La cantidad de perfiles debe ser un solo dígito entre 1 y
                                    9.</small>
                            </div>


                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    (click)="this.accountForm.reset()">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="this.modalConfirmation = true"
                    [disabled]="!this.accountForm.valid">Crear</button>
            </div>
        </div>
    </div>
</div>

<!--Modal confrimation-->
<div *ngIf="modalConfirmation">
    <app-dialog-confirmation (onConfirmCallback)="createAccount()" (onCancelCallback)="this.modalConfirmation = false"></app-dialog-confirmation>
</div>