<div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalNewClientLabel">Nueva cuenta</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container">
                <form [formGroup]="clientForm">
                    <div class="p-2 input-with-icon">
                        <input type="text" placeholder="Nombre cliente" formControlName="clientName" />
                    </div>
                    <br>
                    <div class="p-2 input-with-icon">
                        <input type="text" placeholder="Contacto cliente" formControlName="clientNumber" />
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="createClient()"
                >Crear</button>
        </div>
    </div>
</div>